# to exclude some Obsidian workspace settings (including hotkey configurations)

.obsidian/hotkeys.json
.obsidian/workspace.json

# This file is used to keep track of last auto backup/pull
.obsidian-git-data

# Exclude Untitled Notes
Untitled*

# Exclude "bad" names
null*

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
